@charset 'utf-8';

.rate {
	height: 20px;
	line-height: 1;
	cursor: pointer;
	user-select: none;
}

.rate-item {
	font-size: 18px;
	margin-right: 6px;
	color: #c0c4cc;
}

.rate-item > .fa:hover {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	color: rgb(246,187,46);
	transition: .3s;
}

.rate-item > .fa-star {
	color: rgb(247,186,42);
}
