@charset 'utf-8';

.message {
  display: flex;
  align-items: center;
  min-width: 380px;
  position: fixed;
  top: 20px;
  left: 50%;
  padding: 15px 15px 15px 20px;
  color: #909399;
  font-size: 14px;
  background: #edf2fc;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: opacity .3s, transform .4s;
}

.message .message__content {
  padding: 0 0 0 10px;
  margin: 0;
}

.message .message__close {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.is-show {
  opacity: 1;
  transform: translate(-50%, 100%);
}