@charset 'utf-8';

.hidden {
	visibility: hidden;
}

@keyframes swipeInUp {
	from {
		transfrom: translate3d(0, -20px, 0);
	}
	to {
		transfrom: none;
	}
}

.date-picker,
.date-range-picker {
	position: absolute;
	font-size: 13px;
	color: #48576a;
	border: 1px solid #d1dbe5;
  box-shadow: 0 2px 6px #ccc;
  background: #fff;
  margin: 5px 0;
	user-select: none;
	opacity: 1;
	transform: scaleY(1);
	transform-origin: center top;
	transition: opacity .25s, transform .25s;
}

.date-range-picker > div {
	display: inline-block;
}

.date-range-picker > div.is-left {
	border-right: 1px solid #e4e4e4; 
}

.date-picker-panel {
	padding: 5px;
}

.date-picker-panel .panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 12px;
}

.panel-header .wrapper span {
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 22px;
	text-align: center;
	color: #97a8be;
	cursor: pointer;
}

.panel-header .wrapper span:hover {
	color: #20a0ff;
}

.panel-header .text-wrapper {
	font-size: 14px;
}

.panel-header .text-wrapper span:first-child {
	margin-right: 5px;
}

.panel-header .text-wrapper .month {
	display: inline-block;
	width: 15px;
	text-align: center;
}

.date-panel .panel-content {
	line-height: 20px;
	margin: 10px 15px;
}

.panel-content tr:first-child {
	color: #8391a5;
}

.panel-content td {
	width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.panel-content tr:first-child td {
	cursor: default;
}


.panel-content tr:not(:first-child) td:not(.current):hover {
	background: #e4e8f1;
}

.panel-content td.next-month,
.panel-content td.prev-month {
	color: #ddd;
}

.panel-content td.today {
	position: relative;
	color: #20a0ff;
}

.panel-content td.current {
	color: #fff;
	background: #20a0ff;
}

.panel-content td.today::before {
	position: absolute;
	right: 0;
	content: "";
	width: 0;
	height: 0;
	border-top: 6px solid #20a0ff;
	border-left: 6px solid transparent;
}

.panel-content tr:not(:first-child) td.disabled:hover,
.panel-content td.disabled {
	color: #ccc;
	background: #f4f4f4;
	cursor: not-allowed;
}

.panel-content .is-in-range {
	background: #D2ecff;
}

.panel-content tr:not(:first-child) td.is-in-range :hover {
	background: #AFDDFF;
}

.none {
	opacity: 0;
	transform: scaleY(0);
}
