html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.audio {
	display: flex;
	align-items: center;
	width: 600px;
	height: 46px;
	color: #fff;
	background: rgb(40,41,35);
	user-select: none;
}

.slider-container {
	width: 100%;
	margin: 0 1em;
}

.slider {
	position: relative;
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background: rgba(144,147,153,1);
	cursor: pointer;
}

.slider .slider-progress {
	height: 100%;
	width: 0;
	border-radius: 3px;
	background: #B82525;
}

.slider .slider-runway {
	position: absolute;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	transform: translateX(-50%);
}

.slider .slider-runway .thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 -6px;
	border: 4px solid #fff;
	background: #B82525;
	border-radius: 50%;
	box-sizing: border-box;
}

.audio .audio-controller {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 16%;
	height: 100%;
}

.audio-controller .fa {
	cursor: pointer;
}

.audio .audio-progress {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 65%;
	height: 100%;
	font-size: 12px;
}

.audio-progress .time__current,
.audio-progress .time__end {
	display: inline-block;
	width: 4.5em;
	text-align: center;
}

.audio .audio-volume {
	display: flex;
	align-items: center;
	width: 19%;
	height: 100%;
	padding: 0 1em;
}

.audio-volume .icon__volume {
	margin-right: 1em;
}

.audio-volume .slider {
	height: 3px;
}
