@charset 'utf-8';

.checkbox {
  display: inline-block;
  line-height: 1;
  position: relative;
  color: #606266;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

.checkbox__input {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox__input .checkbox__inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  transition: .25s linear;
}

.checkbox__inner::after {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  position: absolute;
  top: 2px;
  left: 5px;
  background: transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) scale(0);
  transition: transform .15s .05s linear;
}

.checkbox__input .checkbox__inner:hover {
  border-color: #409eff;
}

.checkbox__input .checkbox__original {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  outline: none;
  opacity: 0;
  z-index: -1;
}

.is-checked .checkbox__inner {
  background: #409eff;
  border-color: #409eff;
}

.is-checked .checkbox__inner::after {
  transform: rotate(45deg) scale(1);
}

.is-checked .checkbox__label {
  color: #409eff;
}
