@charset 'utf-8';

.radio {
  display: inline-block;
  line-height: 1;
  position: relative;
  color: #606266;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

.radio__input {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.radio__input .radio__inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 50%; 
}

.radio__inner::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}

.radio__input .radio__inner:hover {
  border-color: #409eff;
}

.radio__input .radio__original {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  outline: none;
  opacity: 0;
  z-index: -1;
}

.is-checked .radio__inner {
  background: #409eff;
  border-color: #409eff;
}

.is-checked .radio__label {
  color: #409eff;
}

